/*für was isch das?*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
 /*https://fonts.google.com/ für schrift*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4956;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: brown;
}

.nav-links{
 display: flex;
 justify-content: space-around;
 width: 25%;
}

.nav-links a{
    color: floralwhite;
    text-decoration: none;
    letter-spacing: normal;
    font-weight: lighter;
    font-size: large;
    padding: 0.5em;
}

.nav-links li{
    list-style: none;
}

.PK{
    color: floralwhite;
    text-decoration: none;
    letter-spacing: normal;
    font-weight: lighter;
    font-size: x-large;
    
    
}

.burger div{
    background-color: floralwhite;
    width: 20px;
    height: 1px;
    margin: 5px;
}

.burger{
    display: none;
    cursor: pointer;
}


@media screen and (max-width:1024px){
    .nav-links{
        width: 25%;
    }
}




@media screen and (max-width:768px){
    /*body{
        overflow-x: hidden;
    }*/
    .nav-links{
        position:absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4956;
        background: linear-gradient(90deg, rgba(121,102,114,1) 0%, rgba(121,102,114,1) 5%, rgba(111,92,104,1) 10%, rgba(102,82,95,1) 15%, rgba(93,73,86,1) 20%, rgba(93,73,86,1) 25%, rgba(93,73,86,1) 35%, rgba(93,73,86,1) 40%, rgba(93,73,86,1) 45%, rgba(93,73,86,1) 50%, rgba(93,73,86,1) 55%, rgba(93,73,86,1) 60%, rgba(93,73,86,1) 65%, rgba(93,73,86,1) 70%, rgba(93,73,86,1) 75%, rgba(99,80,93,1) 85%, rgba(106,88,100,1) 90%, rgba(112,94,106,1) 95%, rgba(112,94,106,1) 100%);        flex-direction: column; /* platziert untereinander*/
        align-items: center;
        width: 80%;
       /* transform: translateX(100%); */
        /* box-shadow: 20px 20px 80px 35px grey;  */
       

    }
    
    .burger{
        display: block;
    }

}







body{
	background:#36465E;
}

.cat{
	position:fixed;
	bottom: 2%;
	left: 10%;
	transform: translate(-50%, -50%);
	width:100px;
	height: 100px;
	background:rgb(255, 255, 255);
	/*border-radius:1%;*/
	animation: cat-transform 3s;
}

	.earright{
		content:"normal";
		position:fixed;
		width: 0;
		height:0;
		border-style:solid;
			top:20px;
			left:20px;
			border-width: 20px 0 0 20px;
			border-color: transparent transparent transparent #fff;
			animation:ear-transform-left 10s;
		}
	
    .earleft{
        content:"normal";
		position:fixed;
		width: 0;
		height:0;
		border-style:solid;
			top:20px;
			right:20px;
			border-style: solid;
			border-width: 0 0 20px 20px;
			border-color: transparent transparent #fff transparent ;
			animation:ear-transform-right 10s;
		}

    
	.eyeleft{
		position:fixed;
		width:20px;
		height:20px;
		border-radius:50%;
		background:#36465E;
		z-index:5;

		top:25px;
		left:25px;
		animation:eye-transform-left 8s;
		animation-delay:1s;
    }


	.eyeright{
        position:fixed;
        width:20px;
        height:20px;
        border-radius:50%;
        background:#36465E;
        z-index:5;

		top:25px;
		right:25px;
		animation:eye-transform-right 8s;
		animation-delay:1s;
		}
	

	.mouth{
		position:fixed;
		left:25px;
		bottom:15px;
		width:50px;
		height:25px;
		background:#36465E;
		border-radius: 0px 0px 25px 25px;
		animation:mouth-transform 8s;
		animation-delay:1s;
    }
	
    .tongue{
			position:fixed;
			left:15px;
			width:20px;
			height:35px;
			border-radius:0 0 20px 20px;
			background:#FF89D5;
			animation: tongue-bounce infinite;
			animation-duration: .5s;
		}		
	

	.tail{
		position:fixed;
		width:10px;
		height: 10px;
		bottom:10px;
		left:10px;
		background:#fff;
		border-radius: 0 15px 15px 0;
		animation:tail-transform 8s;
		animation-delay:1s;
	}




@keyframes cat-transform {
	0%{
		width:100px;
		height:100px;
	}
	10%{
		width:100px;
		height:150px;
		border-radius:0;
	}
	90%{
		width:100px;
		height:150px;
		border-radius:0;
	}
	100%{
		width:100px;
		height:100px;
		border-radius:50%;
	}
}

@keyframes mouth-transform{
	0%{
		bottom:15px;
	}
	10%{
		bottom:80px;
	}
	90%{
		bottom:80px;
	}
	100%{
		bottom:15px;
	}
}
@keyframes tongue-bounce {
 	0%{
		height:35px;
	}
	50%{
		height:50px;
	}
	100%{
		height:35px;
	}
}

@keyframes ear-transform-left {
	0%{
		top:20px;
		left:20px;
	}
	10%{
		top:-20px;
		left:0px;
	}	
	90%{
		top:-20px;
		left:0px;
	}
	100%{
		top:20px;
		left:20px;
	}
}
@keyframes ear-transform-right {
	0%{
		top:20px;
		right:20px;
	}
	10%{
		top:-20px;
		right:0px;
	}	
	90%{
		top:-20px;
		right:0px;
	}
	100%{
		top:20px;
		right:20px;
	}
}

@keyframes eye-transform-left {
	0%{
		width:20px;
		height:20px;
		left:25px;
	}
	10%{
		width:10px;
		height:10px;
		left:15px;
	}	
	90%{
		width:10px;
		height:10px;
		left:15px;
	}
	100%{
		width:20px;
		height:20px;
		left:25px;
	}
}
@keyframes eye-transform-right {
	0%{
		width:20px;
		height:20px;
		right:25px;
	}
	10%{
		width:10px;
		height:10px;
		right:15px;
	}	
	90%{
		width:10px;
		height:10px;
		right:15px;
	}
	100%{
		width:20px;
		height:20px;
		right:25px;
	}
}

@keyframes tail-transform{
	0%{
		width:0;
		height:0;
	}
	10%{
		width:175px;
		height:15px;
	}
	90%{
		width:175px;
		height:15px;
	}
	100%{
		width:0;
		height:0;
	}
}

