/*für was isch das?*/
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

}
 /*https://fonts.google.com/ für schrift*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4956;
    font-family: 'Poppins', sans-serif;
}

body{
    font-family: 'Poppins', sans-serif;
}

.nav-links{
 display: flex;
 justify-content: space-around;
 width: 25%;
}

.nav-links a{
    color: floralwhite;
    text-decoration: none;
    letter-spacing: normal;
    font-weight: lighter;
    font-size: large;
    padding: 0.5em;
}

.nav-links li{
    list-style: none;
}

.PK{
    color: floralwhite;
    text-decoration: none;
    letter-spacing: normal;
    font-weight: lighter;
    font-size: x-large;
    
    
}

.burger div{
    background-color: floralwhite;
    width: 20px;
    height: 1px;
    margin: 5px;
}

.burger{
    display: none;
    cursor: pointer;
}


@media screen and (max-width:1024px){
    .nav-links{
        width: 25%;
    }
}




@media screen and (max-width:768px){
    body{
       /* overflow-x: hidden;*/
    }
    .nav-links{
        position:absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4956;
        display: flex;
        flex-direction: column; /* platziert untereinander*/
        align-items: center;
        width: 75%;
       /* transform: translateX(100%); */
        /* box-shadow: 20px 20px 80px 35px grey;  */
        box-shadow: 90deg, rgba(227,218,224,0.11248249299719892) 0%, rgba(180,166,175,1) 35%, rgba(93,73,86,1) 100%;;

    }
    .burger{
        display: block;
    }

}